@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 400;
    src: local('※'), local('D2Coding'),
         url('D2Coding.woff2') format('x-woff2'),
         url('D2Coding.woff') format('woff');
}
  